.feedbacks-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.feedbacks-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.feedbacks-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedbacks-photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.feedbacks-overlay {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbacks-header {
    font-size: 36px;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.feedbacks-slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.feedback-card-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.feedback-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 340px;
    transition: transform 0.3s;
}

.feedback-card:hover {
    transform: translateY(-5px);
}

.feedback-image {
    width: 125px;
    height: 135px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid white;
}

.feedback-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.feedback-name {
    font-size: 16px;
    color: #ddd;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .feedbacks-slider {
        padding: 0 20px;
    }

    .feedback-card {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .feedback-card {
        width: 80%;
        margin: 0 20px;
    }

    .feedbacks-header {
        font-size: 32px;
    }

    .feedbacks-slider {
        text-align: center;
    }

    .feedback-card-wrapper {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .feedback-card {
        width: 90%;
        margin: 0 auto;
    }

    .feedbacks-header {
        font-size: 28px;
    }

    .feedbacks-slider {
        text-align: center;
    }

    .feedback-card-wrapper {
        display: flex;
        justify-content: center;
    }
}
